.App {
  text-align: center;
}

.label {
  font-size: larger;
  color: black;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
  width: 300px;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  display: inline-block;
  color: white;
  background-color: green;
  border-radius: 5px;
  font-size: larger;
  padding: 5px;
  margin: 20px 10px;
}

.messages {
  display: block;
  justify-content: center;
  color: red;
}

.success {
  display: block;
  justify-content: center;
  color: green;
}

.department-select {
  width: 300px;
}
